@model ValuationCalculator.Models.ValuationModel

@{
    ViewData["Title"] = "Create";
}

<h2>Wycena</h2>

<h4>Nowy element</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <select>
                    <option value="B">Wykończenie B</option>
                    <option value="C">Wykończenie C</option>
                    <option value="E">Wykończenie E</option>
                    <option value="F">Wykończenie F</option>
                    <option value="G">Wykończenie G</option>
                    <option value="H">Wykończenie H</option>
                    <option value="I">Wykończenie I</option>
                    
                </select>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thickness" class="control-label"></label>
                <input asp-for="Thickness" class="form-control" />
                <span asp-validation-for="Thickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Wyceń" class="btn btn-primary" id="pricing" name="calculate" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy zamówień</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
