@model ValuationCalculator.Models.ValuationModel

@{
    ViewBag.Title = "Create";
}



<h2>Wycena</h2>

<h4>Nowy element</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <select class="form-control" asp-for="Model" asp-items="@(new SelectList(ViewBag.Models,"Desciption", "Desciption"))">
                    <option selected>Wybierz Model</option>
                </select>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select class="form-control" asp-for="Color" asp-items="@(new SelectList(ViewBag.Colors,"FoilID", "FoilID"))">
                    <option selected>Wybierz kolor</option>
                </select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Thickness" class="control-label"></label>
                <select class="form-control" asp-for="Thickness" asp-items="@(new SelectList(ViewBag.Thicknesses,"Thickness", "Thickness"))">
                    <option selected>Wybierz grubość</option>
                </select>
                <span asp-validation-for="Thickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" type="number" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" type="number" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-warning">Dodaj</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" class="btn btn-outline-warning" asp-action="Index">Wróć do listy zamówień</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
